.sebal-content, .sebal-table, .sebal-table-conteiner{
	background-color: rgb(120, 130, 140);
}
.sb-nav, .div-table, .div-table-row{
	background-color:rgb(68, 66, 66);
}

@media screen and (max-width: 480px) {
    .sb-nav, .sb-nav-buttons, .span-button {
        height: 120px;
    }
}
@media screen and (min-width: 720px) {
    .sb-nav, .sb-nav-buttons, .span-button {
        height: 120px;
    }
}
@media screen and (min-width: 1080px) {
    .sb-nav, .sb-nav-buttons, .span-button, .sb-dropdown{
        height: 130px;
    }
    .sb-dropdown{
    	width: 300px;
    }
    .sb-dropdown-item{
    	padding-top: 20px;
    	padding-left: 5px;
    	padding-right: 5px;
    	padding-bottom: 10px;
    	height: 110px; /* sd-bropdown height - sb-dropdown padding top*/
    }
    .sb-logo{
    	margin-top: 10px; 
    	height: 110px;
    	width: 110px;
    }
    .span-button, .sb-dropdown{
    	padding-top: 20px;
    }
    .span-button span{
    	color: rgb(255,255,255) !important;
    	padding: 20px 60px 20px 60px;
    }
}
/*  DROPDOWN */
.sb-dropdown{
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em !important;
}
.sb-dropdown span{
	padding-left: 10px;
	color: rgb(255,255,255) !important;
}
.sb-dropdown:hover{
	background-color: rgb(0,255,135) !important;
}
.sb-dropdown:hover .sb-dropdown-sub-item{
  	display: block;
}
.sb-dropdown-sub-item{
	display: none;
	cursor: pointer;
	padding-top: 15px;
	position: relative;
	z-index: 9999;
	text-align: center;
	height: 80px;
	color: rgb(255,255,255);
	background-color: rgb(230,220,50);
}
.sebal-content{
	overflow-y: auto !important;
	height: 90%; 
	width: 100%;
}
/* BUTTONS */
.span-button{
	text-align: center;
	vertical-align: middle;
	font-size: 2.5em;
}
.span-button-selected, .span-button:hover{
	background-color: rgb(0,255,135) !important;
}
.span-button:hover span, .span-button-selected span{
	color: rgb(70,75,78) !important;
}
.sebal-button{
	line-height: 70px;
	height:70px;
	width: 300px;
	text-align: center;
	vertical-align: middle;
	font-family: monospace;
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(70,75,78);
}
.sebal-button:hover{
	border: 2px solid rgb(70,80,90);
	cursor: pointer;
}
.sebal-button.sb-main{
	background-color: rgb(0,255,135);
}
.sebal-button.sb-cancel{
	background-color: rgb(255,35,100); 
}
/* INPUTS */
.sebal-input{
	background-color: rgb(255,255,255); 
	padding-left: 10px;
	padding-right: 40px;
	height:70px;
	width: 300px;
	font-size: 1.5em;
	font-weight: bold;
}
.sebal-input-span{
	font-size: 2em;
	position: relative !important;
    display: inline !important;
    margin-left: -35px !important;
}
/* LABELS */
.sebal-label{
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: monospace;
	font-size: 1.2em;
	width: 300px;
	font-weight: bold;
	background-color: rgb(255,255,255);
}
div.sebal-label button{
	text-align: center;
	font-size: 2em;
	color: rgb(150, 80, 80);
}

.sebal-label.sb-error{
	font-weight: bold;
	background-color: rgb(255,150,120);
}

/* SIZES */
.sb-md{
	width: 400px;
}
.sb-thin{
	height:50px;
}

/* TABLE */

.sebal-table-conteiner{
	padding: 10px 10px 10px 10px;
}
.sebal-table{
	width:100%;
}
.sebal-table tr{
	font-size: 1.5em;
	color: rgb(230,230,230);
    /*border: 10px solid rgb(120, 130, 140);*/
    text-align: center;
}
.sebal-table td{
	padding: 5px;
}
.sebal-table th{
	padding: 5px;
	font-size: 1.7em;
	text-align: center;
	font-weight: bold;
}
.div-table{
	background-color: rgb(120, 130, 140)
	height: 50px;
}
div.div-table-row div{
	padding: 10px;
	height: 100%;
}
div.div-table-row:hover, div.div-table-row:hover .main-column{
	background: white;
	color: rgb(30,30,30);
	font-size: 1.2em;
	font-weight: bold;
}
div.div-table-row:hover .main-column{
	background-color:rgb(210,205,200);
}
.main-column{
	color: rgb(200,200,200);
	background-color:rgb(10,10,10);
}
.sb-table-detail, .list-group-item{
	text-align: left;
	background-color:rgb(240,240,240);
	color: rgb(30,30,30);
	padding: 5px 5px 5px 5px;
	height: 100%;
	font-size: 0.9em;
}

/* MISC */
.btn-refresh{
	margin: 15px 15px 15px 15px;
	font-size: 15px;
}

.btn-refresh:hover{
	border: 4px solid rgb(70,80,90);
	margin: 12px 12px 12px 12px;
	color: rgb(30,120,30);
}

.sb-close-md-btn{
	margin: 10px 10px 10px 10px;
	font-size: 30px;
	color: rgb(200,130,100);
}
.sb-close-md-btn:hover{
	margin: 5px 5px 5px 5px;
	font-size: 40px;
	color: rgb(250,130,100);
	cursor: pointer;
}