	<div class="sb-map-feature-label" 
		ng-click="switchVisibility('sb-map-feature-options')">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span> - {{languageContent.mapFeature.searchBox.title}}
	</div>
	<div id="sb-map-feature-options" class="sb-map-feature-options sb-hidden">
		<form>
			
			<div class="sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.region}}</div>
			<div>
			  <input type="text" class="saps-input sb-width-md sb-height-sm"
			  	id="search-region-filter" ng-model="$parent.searchFilters.regionFilter">
			  	<span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true"
			  		style="font-size: 1.5em">
			  		<div class="sb-info">
				  		<p>{{languageContent.infos.regionSearchFilter.info}}</p>
				  		<p>{{languageContent.infos.regionSearchFilter.eg}}</p>
			  		</div>		
			  	</span>
			</div>
			<div class="sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.generalSearch}}</div>
			<div>
			  <input type="text" class="saps-input sb-width-md sb-height-sm" 
			  	id="search-term" ng-model="$parent.searchFilters.generalSearch">
			</div>

			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.firstDate}}</div>
				<div class="col-lg-6 col-md-6 col-sm-6 sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.lastDate}}</div>	
			</div>
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5">
				  <div id="search-first-year-field">
		              <input type="text" class="saps-input sb-width-xs sb-height-sm saps-datepicker" id="search-first-year-input">
		          </div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
				  <div id="search-last-year-field">
		              <input type="text" class="saps-input sb-width-xs sb-height-sm saps-datepicker" id="search-last-year-input">
		          </div>
				</div>	
			</div>

			<div id="saps-version-filter">
				<div class="sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.sapsVersion}}</div>
				<label class="radio-inline">
					<input onclick="document.getElementById('saps-version-filter-input').setAttribute('disabled','disabled')" type="radio" name="saps-ver-radio-filter" id="rad-filter-defaul-ver" value="{{DEFAULT_VALUE}}" ng-model="$parent.searchFilters.sapsVersionOptFilter" checked > {{languageContent.mapFeature.searchBox.raioButton.default}}
				</label>
				<label class="radio-inline">
					<input onclick="document.getElementById('saps-version-filter-input').removeAttribute('disabled')" type="radio" name="saps-ver-radio-filter" id="rad-filter-other-ver" value="{{OTHER_VALUE}}" ng-model="$parent.searchFilters.sapsVersionOptFilter">{{languageContent.mapFeature.searchBox.raioButton.other}}
				</label>
				<div id="saps-version-filter-field">
				  <input id='saps-version-filter-input' disabled type="text" class="saps-input sb-width-md sb-height-sm" ng-model="$parent.searchFilters.sapsVersionFilter">
				</div>
	      	</div>

	      	<div id="saps-tag-filter">
				<div class="sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.sapsTag}}</div>
				<label class="radio-inline">
					<input onclick="document.getElementById('saps-tag-filter-input').setAttribute('disabled','disabled')" type="radio" name="saps-tag-radio" id="rad-filter-defaul-tag" value="{{DEFAULT_VALUE}}" ng-model="$parent.searchFilters.sapsTagOptFilter" checked> {{languageContent.mapFeature.searchBox.raioButton.default}}
				</label>
				<label class="radio-inline">
					<input onclick="document.getElementById('saps-tag-filter-input').removeAttribute('disabled')" type="radio" name="saps-tag-radio" id="rad-filter-other-tag" value="{{OTHER_VALUE}}" ng-model="$parent.searchFilters.sapsTagOptFilter">{{languageContent.mapFeature.searchBox.raioButton.other}}
				</label>
				<div id="saps-version-filter-field">
					<input id='saps-tag-filter-input' disabled type="text" class="saps-input sb-width-md sb-height-sm" ng-model="$parent.searchFilters.sapsTagFilter" required>
				</div>
	      	</div>

	      	<div id="satellite-field">
	      		<div class="sb-map-feature-field-label">{{languageContent.mapFeature.searchBox.label.satellite}}</div>
				<label class="radio-inline" ng-repeat="sat in satelliteOpts">
				  <input type="radio" name="inlineRadioOptions" id="radio-satellite-{{$index + 1}}" value="{{sat.value}}" ng-model="$parent.searchFilters.satellite">{{sat.label}}
				</label>
			</div>
			
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6" align="right">
					<div ng-click="cleanSearch()" class="sb-button sb-second sb-width-sm" align="center">
					  {{languageContent.mapFeature.searchBox.button.clear}}
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div ng-click="submitSearch()" class="sb-button sb-main sb-width-xs" align="center">
					  {{languageContent.mapFeature.searchBox.button.search}}
					</div>
				</div>
			</div>
		</form>
	</div>
	
