<div id="region-details-box" ng-show="regionsDetails.length">
	<div id="region-details-box">
		<div class="sb-map-feature-label"
		ng-click="selectRegionOnMap()">
			<!-- <img src="/images/menu/contact.png"/> -->
			<span class="glyphicon glyphicon-play" aria-hidden="true"></span> Detalhes da &aacute;rea
		</div>
		<div id="sb-map-feature-details" class="sb-map-feature-details">
			<div class="sb-region-detail-line">
				<div class="col-lg-8">
		 			<input class="sb-checkbox-map" type="checkbox" value="">
				</div>
				<div align="center" class="col-lg-1">
					<div class="sb-span-round-button">
						<span class="glyphicon glyphicon-trash" aria-hidden="true">
					</div>
				</div>
				<div align="center" class="col-lg-1">
					<div class="sb-span-round-button">
						<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
					</div>
				</div>
				<div align="center" class="col-lg-1">
					<div class="sb-span-round-button">
						<span class="glyphicon glyphicon-filter" aria-hidden="true">
					</div>
				</div>
			</div>
			<div ng-repeat="regionDetail in regionsDetails">
				<div id="{{regionDetail.name}}-details" class="sb-region-detail-line" >
					<div class="col-lg-1">
						<input class="sb-checkbox-map" type="checkbox" value="{{regionDetail.name}}">
					</div>
					<div class="col-lg-2" ng-click="switchVisibility(regionDetail.name+'-images')">
						{{regionDetail.name}}
					</div>
					<div class="col-lg-5" align="right">
						<strong>{{regionDetail.totalSatellitesImgs.l4.name}}</strong>
						({{regionDetail.totalSatellitesImgs.l4.total}})
						<strong>{{regionDetail.totalSatellitesImgs.l5.name}}</strong>
						({{regionDetail.totalSatellitesImgs.l5.total}})
						<strong>{{regionDetail.totalSatellitesImgs.l7.name}}</strong>
						({{regionDetail.totalSatellitesImgs.l7.total}})
					</div>
					<div align="center" class="col-lg-1">
						<div class="sb-span-round-button">
							<span class="glyphicon glyphicon-trash" aria-hidden="true">
						</div>
					</div>
					<div align="center" class="col-lg-1">
						<div class="sb-span-round-button">
							<span class="glyphicon glyphicon-download-alt" aria-hidden="true">
						</div>
					</div>
					<div align="center" class="col-lg-1">
						<div class="sb-span-round-button">
							<span class="glyphicon glyphicon-filter" aria-hidden="true">
						</div>
					</div>
				</div>
				<div id="{{regionDetail.name}}-images" class="sb-image-detail sb-hidden" >
					<div class="sb-image-detail-line">
						<div class="col-lg-12">
							<input class="sb-checkbox-map" type="checkbox" value="all">
						</div>
					</div>
					<div class="sb-image-detail-line"
						ng-repeat="images in regionDetail.images">
						<div class="col-lg-2">
							<input class="sb-checkbox-map" type="checkbox" value="{{images.name}}">
						</div>
						<div class="col-lg-4">
							{{images.date}}
						</div>
						<div class="col-lg-4" align="right">
							<strong>{{regionDetail.totalSatellitesImgs.l4.name}}</strong>
							<strong>{{regionDetail.totalSatellitesImgs.l5.name}}</strong>
							<strong>{{regionDetail.totalSatellitesImgs.l7.name}}</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>