<div id="header" class="sb-header">
	<div ng-include="'pages/main.html'"></div>
</div>

<div id="sb-content" class="sb-content">
  <div id="steps-panel">
    <div class="panel panel-default sb-steps-panel">
      <div class="row sb-steps-panel-ht" align="center">
        {{languageContent.submissionsList.steps.title}}
      </div>
      <div class="row" align="center">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
          <img src="/images/steps/downloading.png"/>
          <p>{{languageContent.submissionsList.steps.downloading}}</p>
          <img src="/images/steps/01.png"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
          <img src="/images/steps/downloaded.png"/>
          <p>{{languageContent.submissionsList.steps.downloaded}}</p>
          <img src="/images/steps/02.png"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
          <img src="/images/steps/queued.png"/>
          <p>{{languageContent.submissionsList.steps.queued}}</p>
          <img src="/images/steps/03.png"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
          <img src="/images/steps/fetched.png"/>
          <p>{{languageContent.submissionsList.steps.fetched}}</p>
          <img src="/images/steps/04.png"/>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
      </div>
    </div>

    <div ng-controller="ListSubmissionsController">

      <div class="row panel-default" style="margin-bottom: 10px">
        <div>
          <div ng-click="openCloseModal('submissionsModal', true)" style="cursor: pointer; font-size: 1.5em; width: 70%;">
            <img src="/images/create-subm.png" height="42" width="42"/>&nbsp;{{languageContent.submissionsList.button.newSubmission}}
          </div>
        </div>
      </div>
      <div id="search-box" class="row panel-default sb-search-box" >

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="margin-top: 5px;">
          <div class="sb-checkbox-sub-list">
          <input type="checkbox" ng-model="allSubmissionsChecked" ng-change="checkAllImages()">
            <img ng-hide="ss.showDetail" src="/images/b-left.png"/>
            <img ng-show="ss.showDetail" src="/images/b-down.png"/>
          </div>
        </div>
        <div align="right" class="col-lg-2 col-md-2 col-sm-2" style="font-size: 1em; padding-top: 8px;">
          <div align="center" class="sb-span-round-button sb-rb-med sb-rb-grey" style="display: inline-block; margin-right: 10px">
            <span class="glyphicon glyphicon-remove" aria-hidden="true">
          </div>
          <div align="center" class="sb-span-round-button sb-rb-med sb-rb-grey" style="display: inline-block; margin-right: 10px">
            <span class="glyphicon glyphicon-trash" aria-hidden="true">
          </div>
          <div align="center" class="sb-span-round-button sb-rb-med sb-rb-grey" style="display: inline-block;">
            <span class="glyphicon glyphicon-send" aria-hidden="true">
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" align="right">
              <input type="text" class="saps-input sb-md sb-height-sm" id="filter-all" ng-model="filterValue['searchable']" placeholder="Search in all submissions" ng-change="filterTable('searchable')">
              </input>
              <img src="/images/search.png"/>
        </div>
        <!-- END SEARCH BOX -->
      </div>

      <div id="tables-box" class="sb-submissions-panel">
          <div class="tray tray-center pn">
            <div ng-repeat="ss in sapsSubmissions" class="panel panel-default sb-submission-panel">

              <div class="panel-heading">
                  <div align="left" class="sb-col-lg-11 sb-col-md-11 sb-col-sm-11 sb-col-xs-20">
                    <h4 ng-click="switchVisibility('image-table-'+$index)"
                      style="cursor:pointer">
                      <img ng-hide="ss.showDetail" src="/images/b-left.png"/>
                      <img ng-show="ss.showDetail" src="/images/b-down.png"/>
                      &nbsp;{{ss.name}}
                      <div style="display: inline;" ng-repeat="tag in ss.tags">
                        - {{tag}}
                      </div>
                    </h4>
                    
                  </div>
                  <div align="right" class="sb-col-lg-1 sb-col-md-1 sb-col-sm-1 sb-col-xs-12">
                        <div align="center" class="sb-span-round-button sb-rb-med sb-rb-grey" style="display: inline-block; margin-right: 10px">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                        </div>
                  </div>      
                  <div align="right" class="sb-col-lg-6 sb-col-md-6 sb-col-sm-6 sb-col-xs-20" style="border-style: solid; 
                        border-width: 0px 2px 0px 2px;
                        border-color: rgb(237, 237, 237);">
                    {{ss.totalImages}} <img src="/images/steps/pics.png"/>&nbsp;- &nbsp;
                    {{ss.totalDownloading}}&nbsp;<img src="/images/steps/downloading.png"/>&nbsp;&nbsp;
                    {{ss.totalDownloaded}}&nbsp;<img src="/images/steps/downloaded.png"/>&nbsp;&nbsp;
                    {{ss.totalQueued}}&nbsp;<img src="/images/steps/queued.png"/>&nbsp;&nbsp;
                    {{ss.totalFeched}}&nbsp;<img src="/images/steps/fetched.png"/>&nbsp;&nbsp;
                    {{ss.totalError}}&nbsp;<img src="/images/steps/error.png"/>&nbsp;&nbsp;
                  </div>
                  <div align="right" class="sb-col-lg-2 sb-col-md-2 sb-col-sm-2 sb-col-xs-12">
                        <h4>{{ss.date}}</h4>
                  </div>
              </div>
              <div id="panel-body-sub{{$index}}" class="panel-body">
                <div class="row">
                  <div id="{{ss.id}}-tags-div">{{generateTagsComponent(ss)}}</div>
                </div>
                <div id="table-div-sub{{$index}}" >
                  <!-- message listings table -->
                  
                  <table id="image-table-{{$index}}" class="saps-table sb-hidden">
                  
                    <thead>
                      <tr class="table-header">
                        <th>
                        <div class="div-table-th row">
                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top: 5px;">
                            <div class="sb-checkbox-sub-list">
                              <input type="checkbox" ng-model="ss.allChecked" ng-change="checkUncheckAllBySubId(ss.id)">
                              <img ng-hide="ss.showDetail" src="/images/b-left.png"/>
                              <img ng-show="ss.showDetail" src="/images/b-down.png"/>
                            </div>
                          </div>
                          <div align="center" class="col-lg-1 col-md-1 col-sm-1" style="font-size: 1em; padding-top: 8px;">
                            <div class="sb-span-round-button sb-rb-med sb-rb-grey" style="display: inline-block; margin-right: 10px">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true">
                            </div>
                            <div class="sb-span-round-button sb-rb-med sb-rb-grey" style="display: inline-block;">
                              <span class="glyphicon glyphicon-download-alt" aria-hidden="true">
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input type="text" class="saps-input sb-md sb-height-sm" id="filter-{{ss.id}}" ng-model="filterValue[ss.id]" placeholder="Search in {{ss.name}}" ng-change="filterTable(ss.id)">
                            </input>
                            <img src="/images/search.png"/>
                          </div>
                        </div>
                        </th>
                      </tr>
                      <tr class="table-header">
                        <th>
                          <div class="div-table-th row" style="min-height: 40px; padding-top: 10px;">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">#</div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
                              {{languageContent.submissionsList.table.columnName}}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mobile-hide">
                              {{languageContent.submissionsList.table.columnCreationDate}}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mobile-hide">
                              {{languageContent.submissionsList.table.columnEndDate}}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                              {{languageContent.submissionsList.table.columnState}}
                            </div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="searchable {{ss.id}}">
                      <tr ng-repeat="i in ss.images">
                        <td>
                          <div class="div-table-row row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                              <input type="checkbox" class="checkbox-submission-list"
                              ng-model="i.checked" ng-change="checkUncheckImageByName(ss.id, i.checked)">
                              {{$index + 1}}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 selectable" ng-click="showDetail('detail'+$index, i)" style="cursor:pointer">{{i.name}}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mobile-hide">{{i.creationTime | date : 'yyyy-MM-dd' }}</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mobile-hide">{{i.updateTime | date : 'yyyy-MM-dd' }}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">{{i.state}}</div>
                          </div>
                          </div>
                          </div>
                          <div id="detail{{$index}}" class="div-table row sb-table-detail hidden">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <!-- END TABLES BOX -->
      </div>
      
    </div>
  </div>
<!-- END CONTENT -->
</div>