        <!-- HEADER AND NAVBAR OF SEBAL DASHBOARD-->
        <header>
            <nav class="sb-nav">
                <div class="row" style="height: 20%">
                    <div class="col-md-3" style="padding-left: 10%;">
                        <a href="#monitor">
                            <img class="sb-logo" src="../images/sebal-logo-small.png"></img>
                        </a>
                    </div>
                    <div class="col-md-6 sb-nav-buttons" >
                        <div id="selectRegionBtn" class="col-md-4 span-button" >
                          <a href="#selectRegion" ng-click="activateButton('selectRegionBtn')">
                              <span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
                        </div>
                        <div id="monitorBtn" class="col-md-4 span-button">
                          <a href="#monitor" ng-click="activateButton('monitorBtn')">
                              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
                        </div>
                        <div id="submitBtn" class="col-md-4 span-button">
                          <a href="" data-toggle="modal" data-target="#myModal" ng-click="activateButton('submitBtn')">
                              <span class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
                        </div>
                    </div>
                    <div class="col-md-3 sb-nav-buttons">
                      <div class="sb-dropdown">
                        <div class="sb-dropdown-item">
                          {{user.name}}<a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                        </div>
                        <div class="sb-dropdown-sub-item" ng-click="doLogout()">Logout</div>
                      </div>
                    </div>
                </div>
            </nav>
        </header>

        <div ng-show="globalMsg.getContent() !== undefined" class="alert {{globalMsg.getLevel()}} light alert-dismissable" id="alert-demo-2">
            <button type="button" class="close" ng-click="clearGlobalMsg()" aria-hidden="true">×</button>
            <i class="fa fa-info pr10"></i>
            {{globalMsg.getContent()}}
        </div>
       
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" ng-controller="JobController"
          role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" align="right">
                  <span class="glyphicon glyphicon-remove-sign sb-close-md-btn" 
                    aria-hidden="true" data-dismiss="modal"/>
              </div>
              <div class="modal-body" style="background-color: rgb(120, 130, 140)">
                <form>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin sebal-datapicker" id="firstYearField" ng-model="firstYear" required placeholder="First Year">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin sebal-datapicker" id="secondYearField" ng-model="lastYear" required placeholder="Last Year">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin"  id="regionField" 
                        ng-model="region" required placeholder="Region">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin" id="versionField" 
                       ng-model="sebalVersion" required placeholder="Sebal Version">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin" id="tagField" 
                       ng-model="sebalTag" required placeholder="Sebal Tag">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%; margin-bottom: 20px;">
                      <input type="text" class="sebal-input sb-md sb-thin" id="satelliteField" 
                       ng-model="sebalTag" required placeholder="Satellite">
                  </div>
                  <div style="margin-left: 10%; margin-right: 20%;">
                    <div ng-click="submitJob()" data-dismiss="modal" class="sebal-button sb-main sb-md">
                      SUBMIT
                    </div>
                  </div>
                  
                </form>
              </div>
              <div class="modal-footer">
                
              </div>
            </div>
          </div>
        </div>
