<div id="sb-header" class="sb-header">
	<div ng-include="'pages/main.html'"></div>
</div>

<div id="sb-content" class="sb-content">
  <div id="steps-panel">
    <div class="panel panel-default sb-steps-panel">
      <div class="row sb-steps-panel-ht" align="center">
        Steps until download completion
      </div>
      <div class="row" align="center">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 col-xs-3">
          <img src="/images/steps/downloading.png"/>
          <p>Downloading</p>
          <img src="/images/steps/01.png"/>
        </div>
        <div class="col-lg-2 col-xs-3">
          <img src="/images/steps/downloaded.png"/>
          <p>Downloaded</p>
          <img src="/images/steps/02.png"/>
        </div>
        <div class="col-lg-2 col-xs-3">
          <img src="/images/steps/queued.png"/>
          <p>Queued</p>
          <img src="/images/steps/03.png"/>
        </div>
        <div class="col-lg-2 col-xs-3">
          <img src="/images/steps/fetched.png"/>
          <p>Fetched</p>
          <img src="/images/steps/04.png"/>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

    <div ng-controller="MonitorController" >
      
      <div id="search-box" class="row panel-default" >
        <div class="col-lg-6">
          <div ng-click="openCloseModal('submissionsModal', true)" style="cursor: pointer; font-size: 1.5em; width: 70%;">
            <img src="/images/create-subm.png" height="42" width="42"/>&nbsp;New submission
          </div>
        </div>
        <div class="col-lg-6" align="right" ng-controller="PaginationController">
              <input type="text" class="sebal-input sb-md sb-height-sm" id="filter-all" ng-model="filterValue['searchable']" placeholder="Search in all submissions" ng-change="filterTable('searchable')">
              </input>
              <img src="/images/search.png"/>
        </div>
        <!-- END SEARCH BOX -->
      </div>

      <div id="tables-box">
          <div class="tray tray-center pn">
            <div ng-repeat="ss in sebalSubmissions" class="panel panel-default sb-submission-panel" ng-controller="PaginationController">
              <div class="panel-heading">
                <div class="row">
                  
                  <div align="left" class="col-lg-5 col-xs-12" style="cursor: pointer;">
                    <h3 ng-click="switchSubmitionDetail(ss.id)">
                      <img ng-hide="ss.showDetail" src="/images/b-left.png"/>
                      <img ng-show="ss.showDetail" src="/images/b-down.png"/>
                      &nbsp;{{ss.name}} - {{ss.date}}
                    </h3>
                  </div>
                  <div align="right" class="col-lg-7 col-xs-12">
                    {{ss.totalImages}} <img src="/images/steps/pics.png"/>&nbsp;|&nbsp;
                    {{ss.totalDownloading}}&nbsp;<img src="/images/steps/downloading.png"/>&nbsp;&nbsp;
                    {{ss.totalDownloaded}}&nbsp;<img src="/images/steps/downloaded.png"/>&nbsp;&nbsp;
                    {{ss.totalQueued}}&nbsp;<img src="/images/steps/queued.png"/>&nbsp;&nbsp;
                    {{ss.totalFeched}}&nbsp;<img src="/images/steps/fetched.png"/>&nbsp;&nbsp;
                    {{ss.totalError}}&nbsp;<img src="/images/steps/error.png"/>&nbsp;&nbsp;
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div id="table-div-{{ss.name}}" ng-show="ss.showDetail">
                  <!-- message listings table -->
                  <div class="text-right">
                      <input type="text" class="sebal-input sb-md sb-height-sm" id="filter-{{ss.id}}" ng-model="filterValue[ss.id]" placeholder="Search in {{ss.name}}" ng-change="filterTable(ss.id)">
                      </input>
                      <img src="/images/search.png"/>
                  </div>
                  <table id="image-table" class="sebal-table">
                    <thead>
                      <tr class="table-header">
                        <th>
                          <div class="div-table-th row">
                            <div class="col-lg-1 col-xs-1">#</div>
                            <div class="col-lg-4 col-xs-7">Name</div>
                            <div class="col-lg-2 mobile-hide">Creation date</div>
                            <div class="col-lg-2 mobile-hide">End date</div>
                            <div class="col-lg-3 col-xs-4">State</div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="searchable {{ss.id}}">
                      <tr ng-repeat="i in ss.images | limitTo: itemsPerPage">
                        <td>
                          <div class="div-table-row row">
                            <div class="col-lg-1 col-xs-1">{{$index + 1}}</div>
                            <div class="col-lg-4 col-xs-7 selectable" ng-click="showDetail('detail'+$index, i)">{{i.name}}</div>
                            <div class="col-lg-2 mobile-hide">{{i.creationTime | date : 'yyyy-MM-dd' }}</div>
                            <div class="col-lg-2 mobile-hide">{{i.updateTime | date : 'yyyy-MM-dd' }}</div>
                            <div class="col-lg-3 col-xs-4">{{i.state}}</div>
                          </div>
                          </div>
                          </div>
                          <div id="detail{{$index}}" class="div-table row sb-table-detail hidden">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
          <!-- END TABLES BOX -->
      </div>
      
    </div>
  </div>
<!-- END CONTENT -->
</div>