<div id="header">
	<div ng-include="'pages/main.html'"></div>
</div>
<div id="content" ng-controller="MapController"	class="sb-content">
	<div class="sb-heat-map-legends">
		<div class="row" style="font-size: 1em; padding-left: 10px; margin-top: 10px; margin-bottom: 10px">
			<div class="col-md-1">
				<span class="glyphicon glyphicon-th-large" 
				style="font-size: 1.5em;" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-11" style="left: -10px;">Quantidade de imagens renderizadas por área</div>
		</div>
		<div class="row" align="left" style="font-size: 1.2em; padding-left: 10px;">
			<div class="col-md-2">
				<span class="glyphicon glyphicon-stop" 
				style="font-size: 2.5em; color: rgb(255,255,255)" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-4" style="padding-top: 10px; left: -15px;">00</div>
			<div class="col-md-2">
				<span class="glyphicon glyphicon-stop" 
				style="font-size: 2.5em; color: rgb(241,159,56)" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-4" style="padding-top: 10px; left: -15px;">01 a 300</div>
		</div>
		<div class="row" align="left" style="font-size: 1.2em; padding-left: 10px;">
			<div class="col-md-2">
				<span class="glyphicon glyphicon-stop" 
				style="font-size: 2.5em; color: rgb(241,226,114)" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-4" style="padding-top: 10px; left: -15px;">300 a 500</div>
			<div class="col-md-2">
				<span class="glyphicon glyphicon-stop" 
				style="font-size: 2.5em; color: rgb(0,206,230)" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-4" style="padding-top: 10px; left: -15px;">500 a 700</div>
		</div>
		<div class="row" align="left" style="font-size: 1.2em; padding-left: 10px;">
			<div class="col-md-2">
				<span class="glyphicon glyphicon-stop" 
				style="font-size: 2.5em; color: rgb(81,224,207)" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-4" style="padding-top: 10px; left: -15px;">700 a 900</div>
			<div class="col-md-2">
				<span class="glyphicon glyphicon-stop" 
				style="font-size: 2.5em; color: rgb(0,161,93)" 
				aria-hidden="true"></span>
			</div>
			<div class="col-md-4" style="padding-top: 10px; left: -15px;">900+</div>
		</div>
	</div>
	<div id="map-controls" class="sb-map-controls">
		<span class="glyphicon glyphicon-plus-sign zoom-control" ng-click="zoomIn()"
				aria-hidden="true"></span>
		<br>
		<span class="glyphicon glyphicon-minus-sign zoom-control" ng-click="zoomOut()"
				aria-hidden="true"></span>
	</div>
	<div id="map" class="map regions-map text-center"></div>
</div>