@media screen and (max-width: 767px) {

	.mobile-hide{
		display: none
	}
	.mobile-show{
		display: inline;
	}
	.logo-nav-bar{
		background: rgb(237,237,237);
		position: fixed;
	    height: 100px;
	    width: 115px;
	    z-index: 9999;
	    left: 0px;
	    padding-top: 25px;
	    top: 0px;
	}
	.sb-nav{
		position: fixed;
	    height: 500px !important;
	    width: 115px;
	    z-index: 9998;
	    left: 0px;
	    top: 100px;
	    padding: 5px 15px 5px 15px;
	}
	.sb-nav img{
		display: block !important
	}
	.sb-content{
    	margin-left: 50px;
	}
	.panel-default {
    	width: 80% !important;
	}
    .sb-nav-buttons, .nav-button{
        height: 80px;
    }
    .sb-steps-panel{
		height: 140px;
    }
    .sb-dropdown{
    	width: 300px;
    }
    .sb-dropdown-item, .sb-dropdown-sub-item{
    	height: 60px;
    	padding-top: 20px;
    }
    .nav-button{
    	padding-top: 20px;
    }

    .nav-button span{
    	color: rgb(255,255,255) !important;
    	padding: 20px 60px 20px 60px;
    }
    .sb-login-box{
    	width: 500px;
    	height: 800px;
	    padding-top:100px;
	    margin: auto;
    }
    .panel-default{
    	width: 70%;
    	margin-left:15%;
    }
    .sb-logo-sm{
    	height: 50px;
    	width: 49px;
    }
    .sb-logo-md{
    	height: 110px;
    	width: 108px;
    }
    .sb-logo-lg{
    	height: 230px;
    	width: 222px;
    }

    /*BUTTON*/
    .sb-button{
		padding-top: 15px;
		border-radius: 10px;
	}

	/* INPUTS */
	.sebal-input{
		padding-left: 10px;
		padding-right: 10px;
		
	}

	/* FORM ITENS */
	.sb-button, .sebal-input{
		margin-top: 10px;
		margin-bottom: 10px;

		font-size: 1.5em;
		height: 60px;
		width: 300px;
	}

	/* SIZES */
	.sb-width-xs{
		width: 50px !important;
	}
	.sb-width-sm{
		width: 60px !important;
	}
	.sb-width-md{
		width: 100px !important;
	}
	.sb-width-lg{
		width: 230px !important;
	}
	.sb-width-xl{
		width: 300px !important;
	}
	.sb-height-sm{
		height:40px;
	}
	.sb-height-md{
		height:50px;
	}
    
}